<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{% endblock title %} | {{SITE_NAME}}</title>
  {% block meta_tags %}
    <meta property="og:site_name" content="{{ SITENAME }}">
    {# Facebook specific Tags #}
    {% if FACEBOOK_APP_ID %}
      <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}">
    {% endif %}
    {% if SITE_FACEBOOK %}
      <meta property="article:publisher" content="{{ SITE_FACEBOOK }}">
    {% endif %}

    {% if SITE_TWITTER %}
      <meta name="twitter.card" content="summary">
      <meta name="twitter:site" content="{{ SITE_TWITTER }}">
    {% endif %}
  {% endblock meta_tags %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <link href="{{ url_for('pygments_css') }}" rel="stylesheet">
  <link href="{{ url_for('feed') }}" rel="alternate" title="{{ SITE_NAME }}" type="application/atom+xml">
</head>
<body>
  <nav id="nav" role="navigation">
    <a id="nav-hide-small" href="#close" class="menu-icon">&#9776;</a>
    <span id="nav-logo" class="logo"><a href="{{ url_for('index') }}" class="link link-hover">Cody Scott</a></span>
    <ul id="nav-list">
      {% block menu %}
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('pages.page', path='projects') }}">Projects</a></li>
      <li><a href="{{ url_for('all_posts') }}">Blog Posts</a></li>
      <li><a href="{{ url_for('all_tags') }}">Blog Tags</a></li>
      {% endblock menu %}
    </ul>
  </nav>
  <div id="fullpage">
    <header>
        <a id="nav-show" href="#nav" class="menu-icon">&#9776;</a>
        <a id="nav-hide" href="#close" class="menu-icon">&#9776;</a>
        <span class="logo"><a href="{{ url_for('index') }}" class="link link-hover">Cody Scott</a></span>
    </header>

    {% block content %}
    {% endblock content %}

    <footer>
      {% block footer %}
      <ul>
        <li><a href="https://github.com/Siecje" class="link" target="_blank"><i class="fa fa-github icon"></i></a></li>
        <li><a href="mailto:cody.j.b.scott@gmail.com"><i class="fa fa-envelope icon"></i></li>
        <li><a href="https://twitter.com/Siecje" target="_blank"><i class="fa fa-twitter icon"></i></a></li>
        <li><a href="https://bitbucket.org/Siecje" id="bitbucket-icon" class="link" target="_blank"><i class="fa fa-bitbucket icon"></i></a></li>
      </ul>
      {% endblock footer %}
    </footer>
  </div>
  {% if INCLUDE_JS %}
    <script src="{{ url_for('static', filename='combined.min.js') }}"></script>
  {% endif %}
</body>
</html>
