{% extends "_layout.html" %}

{% block title %}Home{% endblock title %}

{% block meta_tags %}
  {{ super() }}
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:title" content="{{ SITE_NAME }}">
  {% if SITE_DESCRIPTION %}
    <meta name="description" content="{{ SITE_DESCRIPTION }}">
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}">
  {% endif %}
  {% if SITE_LOGO %}
    <meta property="og:image" content="{{ url_for('static', filename=SITE_LOGO, _external=True )}}">
  {% endif %}
{% endblock meta_tags %}

{% block content %}
  <article class="intro">
    <p>I am a recent Computer Science graduate from <a href="https://www.lakeheadu.ca/">Lakehead University</a>. In my free time I like to start <a href="{{ url_for('pages.page', path='projects') }}">cool projects</a> and contribute to <a href="https://github.com/Siecje">open source</a>.</p>
    <p>And I share <a href="{{ url_for('all_posts') }}">my thoughts</a> about it.</p>
    <p>This site was created using <a href="https://github.com/siecje/htmd">htmd</a> a static site generator I created using Python. Usually I create Single Page Applications and leverage front-end frameworks, however this site doesn't use any front-end framework or even JavaScript. All of the functionality is done with good old HTML and CSS. The off screen menu uses the <code>:target</code> CSS selector.</p>
  </article>
  <article>
  <h2 class="title-color">Recent Blog Posts</h2>
  {% for post in posts %}
    {% with show_text=True %}
      {% include "_list.html" %}
    {% endwith %}
  {% endfor %}
  </article>
{% endblock content %}
